<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeqTen9KlvtvGNuSj3Kz06RK7Gj4WZsAU"></script> -->
<!-- <br/> -->
<div id="contenido" class="row">
    <br>
    <div class="container">
        
        <div class="headerevent">
            <h2>{{$ctrl.event.name}}</h2>
            <h4>Event created by: {{organizador}}</h4>
        </div>
        <section>
            <table>
                <tr>
                    <td id="detailInscritos">
                        <div id="inscritos" ng-click="showInscritos()">
                            <table>
                                <td>
                                    <p><img src="images\hombre.png"></p>
                                </td>
                                <td>
                                    <p style="margin-left:5px;">Inscritos:</p>
                                </td>
                                <td>
                                    <p><img ng-style="imgInscritos" id="imgInscritos" src="images\flechaInscritos.png"></p>
                                </td>
                            </table>
                            <table id="detailTableInscritos">
                                <tr ng-repeat="inscrito in inscritos">
                                    <td>
                                        <a id="inscritoDetail">{{inscrito}}</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td id="boxofEvents">
                        <div id="detailsEvents">
                            <div id="imgDetails" style="text-align: center;">
                                <img src="{{$ctrl.event.img}}"/>
                            </div>
                            <div style="padding-top: 3%; text-align: left;">
                                <div class="control-group">
                                <h4>{{$ctrl.event.desc}}<h4>
                                </div>
                            </div>
                        </div>
                        <div id="divJoinbutton">
                            <button ng-show="subscribeButton" ng-click="joinup()" id="joinup">{{unorfollow}}</button>
                        </div>
                    </td>
                    <td>
                        <div id="detailsOfEvent" class="control-group" style="text-align: center;">
                            <table>
                                <tr>
                                    <td>
                                        <p><img src="images\calendario.png"></p>
                                    </td>
                                    <td>
                                        <p style="margin-left:5px;">{{$ctrl.event.fecha}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><img src="images\lugar.png"></p>
                                    </td>
                                    <td>
                                        <p style="margin-left:5px;">{{$ctrl.event.place}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><img src="images\reloj-de-arena.png"></p>
                                    </td>
                                    <td>
                                        <p style="margin-left:5px;">{{$ctrl.event.hour}}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </section>
      
      <div id="mapDetails" map-lazy-load="https://maps.google.com/maps/api/js">
          <ng-map center="[{{$ctrl.lat}}, {{$ctrl.lng}}]" zoom="15">
              <marker no-watcher="true"
                      title="{{$ctrl.event.name}}"
                      position="{{$ctrl.lat}},{{$ctrl.lng}}">
              </marker>
          </ng-map>
      </div>
      
      <div class="MoreEvents" ng-show="MoreEvents">
          <h2>More Events</h2>
            <a class="MoreEventsItem" ng-repeat="events in $ctrl.mevents" ui-sref-active="active" ui-sref="app.detailevent({ id: events._id })">
                <img src="{{events.img}}" width="200" height="150"> 
                <p class="pmevents"><strong>{{events.name}}</strong></p>
            </a>
      </div>
         
      </div>
      
  </div>
  