<footer id="footer" scrollPosition="scroll">
  <div class="container">
    <a class="logo-font" ui-sref="app.home" ng-bind="::$ctrl.appName"></a>
      <section id="footer-sec" >

            <div class="container">
          <div class="row  pad-bottom" >
            <div class="col-md-4">
                <h4> <strong>ABOUT COMPANY</strong> </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                <a href="#!/contact" >read more</a>
                </div>
              <div class="col-md-4">
                    <h4> <strong>SOCIAL LINKS</strong> </h4>
                  <p>
                    <a href="#"><i class="fa fa-facebook-square fa-3x"  ></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-3x"  ></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-3x"  ></i></a>
                      <a href="#"><i class="fa fa-google-plus-square fa-3x"  ></i></a>
                  </p>
                </div>
              <div class="col-md-4">
                  <h4> <strong>OUR LOCATION</strong> </h4>
                            <p>
                              234/JK , The Wondre Land, <br />
                              Newyork Street Junction  <br />
                              JUST USA -10909094
                            </p>
                    <a href="#" class="btn btn-primary" >SEND QUERY</a>
                </div>
              </div>
            </div>
      </section>
  </div>
</footer>
